/* Common style */
* {
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
}

main {
    margin: 0 140px;
}

/* hero banner style */

.hero-banner {
    background: linear-gradient(180deg, rgb(7, 2, 17), rgba(7, 2, 17, 0)), url('images/Banner\ Image.png');
    border-radius: 15px;
    background-repeat: no-repeat;
    color: #fff;
    padding: 180px 300px;
    background-size: cover;
    background-position: center center;
    text-align: center;
    margin-top: 50px;
}

.hero-banner h4 {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 16px;
}

.hero-banner h2 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 72px;
}

/* Offer style */

.offer {
    text-align: center;
    margin: 120px 0;
}

.offer h1 {
    font-size: 88px;
    font-weight: 700;
    color: #FF0000;
    margin-bottom: 50px;
}

.offer h5 {
    color: #FF0000;
    font-weight: 500;
    font-size: 24px;
}

.offer h3 {
    font-weight: 700;
    font-size: 48px;
    color: #070211;
    margin-top: 16px;
    margin-bottom: 47px;
}

.offer img {
    width: 50%;
}

/* Party section style */

.party-sec {
    background: linear-gradient(to right, rgb(7, 2, 17),
            rgba(7, 2, 17, 0)), url('images/Vectorrr.png');
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding: 100px 126px;
}

.party-container {
    display: flex;
    gap: 30px;
    align-items: center;
}

.party-content {
    width: 70%;
}

.party-content h2 {
    font-size: 64px;
    font-weight: 900;
    font-family: "Merriweather", serif;
    letter-spacing: 7px;
    margin-bottom: 24px;
}

.party-content p {
    font-weight: 400;
    font-size: 18px;
    opacity: .8;
    line-height: 30px;
    margin-bottom: 48px;
}

.party-content button {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 0 30px;
    cursor: pointer;
}

.party-img {
    width: 30%;
}

.party-img img {
    width: 100%;
}

/* Info style */

.info {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.1),
            rgba(255, 0, 0, 0));
    padding: 100px 300px;
    text-align: center;
    border-radius: 15px;
    margin-top: 120px;
}

.info h4 {
    font-size: 32px;
    line-height: 56px;
    font-weight: 600;
    color: #070211;
    text-transform: capitalize;
}

.info h4 span {
    color: #FF0000;
}

.info button {
    padding: 16px 32px;
    border: none;
    color: #fff;
    background-color: #FF0000;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
    cursor: pointer;
}

/* Coming soon style */

.coming-soon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    margin-top: 120px;
}

.left-info h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FF0000;
}

.left-info h3 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    color: #070211;
    margin: 16px 0 22px;
}

.left-info p {
    color: #07021199;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.center-info {
    border: 15px solid #FF0000;
    border-radius: 50%;
    padding: 45px;
}

.center-info img {
    width: 300px;
    display: block;
}

.right-info h3 {
    color: #FF0000;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 16px;
}

.right-info p {
    color: #07021199;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 40px;
}

.right-info img {
    width: 40%;
}

.holidays {
    text-align: center;
    margin-top: 120px;
}

.holidays h5 {
    color: #070211;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.holidays h2{
    margin: 16px 0 28px;
    color: #070211;
    font-weight: 900;
    font-size: 72px;
    font-family: "Merriweather", serif;
}

.holidays h2 span{
    color: #FF0000;
}

.holidays p{
    color: #07021199;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    margin: 0 150px;
}